<%- include("partes/menu") %>

<form action="/contato" method="POST">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Digete Seu Email</label>
        <input type="email" name="email"  class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" name="mensagem" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit"   class="btn btn-primary mx-auto">Enviar</button>

    </div>
</form>
 
<%- include("partes/footer")%>